In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("../data/marketing_data.csv")
data_dict = pd.read_csv("../data/marketing_data_dictionary.csv")

In [3]:
df.head()
df.shape
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56000 entries, 0 to 55999
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   56000 non-null  int64
 1   Year_Birth           56000 non-null  int64
 2   Education            56000 non-null  object
 3   Marital_Status       56000 non-null  object
 4   Income               56000 non-null  float64
 5   Kidhome              56000 non-null  int64
 6   Teenhome             56000 non-null  int64
 7   Dt_Customer          56000 non-null  object
 8   Recency              56000 non-null  int64
 9   MntWines             56000 non-null  int64
 10  MntFruits            56000 non-null  int64
 11  MntMeatProducts      56000 non-null  int64
 12  MntFishProducts      56000 non-null  int64
 13  MntSweetProducts     56000 non-null  int64
 14  MntGoldProds         56000 non-null  int64
 15  NumDealsPurchases    56000 non-null  int64
 16  NumWebPurchases      56000 non-null  int64
 17  NumCatalogPurchases  56000 non-null  int64
 18  NumStorePurchases    56000 non-null  int64
 19  NumWebVisitsMonth    56000 non-null  int64
 20  AcceptedCmp3         56000 non-null  int64
 21  AcceptedCmp4         56000 non-null  int64
 22  AcceptedCmp5         56000 non-null  int64
 23  AcceptedCmp1         56000 non-null  int64
 24  AcceptedCmp2         56000 non-null  int64
 25  Response             56000 non-null  int64
 26  Complain             56000 non-null  int64
 27  Country              56000 non-null  object
dtypes: float64(1), int64(23), object(4)
memory usage: 12.0+ MB

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Response', 'Complain', 'Country'],
      dtype='object')

In [4]:
df.isnull().sum()
(df.isnull().mean() * 100).round(2)

ID                     0.0
Year_Birth             0.0
Education              0.0
Marital_Status         0.0
Income                 0.0
Kidhome                0.0
Teenhome               0.0
Dt_Customer            0.0
Recency                0.0
MntWines               0.0
MntFruits              0.0
MntMeatProducts        0.0
MntFishProducts        0.0
MntSweetProducts       0.0
MntGoldProds           0.0
NumDealsPurchases      0.0
NumWebPurchases        0.0
NumCatalogPurchases    0.0
NumStorePurchases      0.0
NumWebVisitsMonth      0.0
AcceptedCmp3           0.0
AcceptedCmp4           0.0
AcceptedCmp5           0.0
AcceptedCmp1           0.0
AcceptedCmp2           0.0
Response               0.0
Complain               0.0
Country                0.0
dtype: float64

In [5]:
df_clean = df.copy()

df_clean["Income"] = df_clean["Income"].fillna(df_clean["Income"].median())

In [6]:
df_clean.dropna(inplace=True)

In [7]:

df_clean["Dt_Customer"] = pd.to_datetime(
    df_clean["Dt_Customer"],
    errors="coerce",
    dayfirst=True
)

C:\Users\HP\AppData\Local\Temp\ipykernel_17536\2887095493.py:1: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_clean["Dt_Customer"] = pd.to_datetime(

In [8]:
df_clean.dropna(subset=["Dt_Customer"], inplace=True)
df_clean["Dt_Customer"].dtype

dtype('<M8[ns]')

In [9]:
#age
df_clean["Age"] = 2024 - df_clean["Year_Birth"]
df_clean = df_clean[(df_clean["Age"] >= 18) & (df_clean["Age"] <= 100)]

In [10]:
#customer tensure
df_clean["Customer_Tenure_Days"] = (
    df_clean["Dt_Customer"].max() - df_clean["Dt_Customer"]
).dt.days

In [11]:
df_clean[["Dt_Customer", "Customer_Tenure_Days"]].head()

  Dt_Customer  Customer_Tenure_Days
0  2012-11-17                   589
1  2013-04-10                   445
2  2014-01-11                   169
3  2014-06-18                    11
4  2014-05-20                    40

In [12]:
df_clean["Customer_Since_Years"] = (
    df_clean["Customer_Tenure_Days"] / 365
).round(1)

In [13]:
#total spend
df_clean["Total_Spend"] = (
    df_clean["MntWines"] +
    df_clean["MntFruits"] +
    df_clean["MntMeatProducts"] +
    df_clean["MntFishProducts"] +
    df_clean["MntSweetProducts"] +
    df_clean["MntGoldProds"]
)

In [14]:
#total purchase
df_clean["Total_Purchases"] = (
    df_clean["NumWebPurchases"] +
    df_clean["NumCatalogPurchases"] +
    df_clean["NumStorePurchases"]
)

In [15]:
df_clean["Children"] = df_clean["Kidhome"] + df_clean["Teenhome"]

In [16]:
df_clean.shape
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56000 entries, 0 to 55999
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    56000 non-null  int64
 1   Year_Birth            56000 non-null  int64
 2   Education             56000 non-null  object
 3   Marital_Status        56000 non-null  object
 4   Income                56000 non-null  float64
 5   Kidhome               56000 non-null  int64
 6   Teenhome              56000 non-null  int64
 7   Dt_Customer           56000 non-null  datetime64[ns]
 8   Recency               56000 non-null  int64
 9   MntWines              56000 non-null  int64
 10  MntFruits             56000 non-null  int64
 11  MntMeatProducts       56000 non-null  int64
 12  MntFishProducts       56000 non-null  int64
 13  MntSweetProducts      56000 non-null  int64
 14  MntGoldProds          56000 non-null  int64
 15  NumDealsPurchases     56000 non-null  int64
 16  NumWebPurchases       56000 non-null  int64
 17  NumCatalogPurchases   56000 non-null  int64
 18  NumStorePurchases     56000 non-null  int64
 19  NumWebVisitsMonth     56000 non-null  int64
 20  AcceptedCmp3          56000 non-null  int64
 21  AcceptedCmp4          56000 non-null  int64
 22  AcceptedCmp5          56000 non-null  int64
 23  AcceptedCmp1          56000 non-null  int64
 24  AcceptedCmp2          56000 non-null  int64
 25  Response              56000 non-null  int64
 26  Complain              56000 non-null  int64
 27  Country               56000 non-null  object
 28  Age                   56000 non-null  int64
 29  Customer_Tenure_Days  56000 non-null  int64
 30  Customer_Since_Years  56000 non-null  float64
 31  Total_Spend           56000 non-null  int64
 32  Total_Purchases       56000 non-null  int64
 33  Children              56000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(28), object(3)
memory usage: 14.5+ MB

In [17]:
output_path = "../data/marketing_data_cleaned.csv"
df_clean.to_csv(output_path, index=False)

output_path

'../data/marketing_data_cleaned.csv'

In [18]:
df_clean.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country,Age,Customer_Tenure_Days,Customer_Since_Years,Total_Spend,Total_Purchases,Children
0,342199,1985,Graduation,Together,59011.7,1,0,2012-11-17,3,0,2,45,6,0,16,3,2,5,3,4,0,0,0,0,0,0,0,Spain,39,589,1.6,69,10,1
1,8075450,1975,Master,Single,1730.0,1,1,2013-04-10,96,0,0,19,1,19,0,1,1,0,2,3,0,0,0,0,0,0,0,Spain,49,445,1.2,39,3,2
2,13664263,1978,Graduation,Married,98584.6,0,0,2014-01-11,99,920,0,339,0,115,138,3,2,1,6,3,0,0,0,0,0,0,0,Australia,46,169,0.5,1512,9,0
3,16164787,1976,Graduation,Married,74031.5,1,0,2014-06-18,47,265,0,130,7,1,75,1,4,0,11,4,0,0,0,0,0,0,0,Spain,48,11,0.0,478,15,1
4,15815139,1981,Graduation,Divorced,52784.2,1,1,2014-05-20,0,30,3,55,242,0,0,1,3,2,3,6,0,0,0,0,0,0,0,Canada,43,40,0.1,330,8,2